In [2]:
x=1634
originalnum=x
total=0
while(x>0):
  rem=x%10
  total += rem**4

  x=x//10
if(total==originalnum):
  print("Armstrong number")
else:
  print("not Armstrong number")
print(total)

Armstrong number
1634

In [34]:
data = "hey hello user shaily shaily hello"
mylist = data.split()
newlist = []

for i in mylist:
    if mylist.count(i) == 1:
        newlist.append(i)

print(newlist)

['hey', 'user']