In [4]:
data="hey shaily hey"
x=data.split(" ")
print(x,type(x))

['hey', 'shaily', 'hey'] <class 'list'>

In [5]:
data="hey tushar hey hello hey user user hey"
mylist=data.split(" ")
for i in mylist:
  print(i)

hey
tushar
hey
hello
hey
user
user
hey

In [10]:
data="hey tushar hey hello hey user user hey"
mylist=data.split()
newlist=[]
for i in mylist:
  if (i not in newlist):
    newlist.append(i)
print(newlist)

['hey', 'tushar', 'hello', 'user']

In [16]:
mytuple=10,"hey",30.0
print(type(mytuple))

<class 'tuple'>

In [14]:
mytuple=mytuple+(10,20,30)
print(mytuple)

(10, 'hey', 30.0, 10, 20, 30, 10, 20, 30)

In [15]:
mytuple=mytuple+(10,20,30)
id(mytuple)

136286499718048

In [21]:
x=153
originalnum=x
total=0
while(x>0):
  rem=x%10
  total += rem**3

  x=x//10
if(total==originalnum):
  print("Armstrong number")
else:
  print("not Armstrong number")
print(total)

Armstrong number
153